@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-4">Zum Plan</h1>
    <a asp-page="/Schedule">Hier</a>
</div>

<div>
    <h2>
        Übersicht
    </h2>
    <a asp-page="/Programs/Index" class="btn btn-outline-dark">
        Verkündiger
    </a>
    <a asp-page="/Schedule" class="btn btn-outline-dark">
        Programm
    </a>
    <a asp-page="/Config/Settings" class="btn btn-outline-info">
        Einstellungen
    </a>
    <hr />

    <h2>Statistiken</h2>
    <hr>
    <a asp-page="/Statistics/Chair" class="btn btn-secondary">
        LuDZ-Vorsitz
    </a>
</div>
