@page "{meetingDate:DateTime}"
@model AddScheduleModel
@{
    ViewData["Title"] = "Hinzufügen";
    List<bool?> test = new()
{
(bool?)true,
(bool?)false,
(bool?)null,
};
    var boolListe = new SelectList(test);
}
<h1>@ViewData["Title"]</h1>
<hr />

<form method="post" class="col-lg-4 col-md-6">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-2">
        <label asp-for="ActiveSchedule.Date" class="col-form-label"></label>
        <input asp-for="ActiveSchedule.Date" class="form-control" type="date">
    </div>
    <div class="mb-2">
        <label asp-for="ActiveSchedule.TalkId" class="col-form-label"></label>
        <input asp-for="ActiveSchedule.TalkId" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="ActiveSchedule.Active" class="col-form-label"></label>
        @* <input asp-for="ActiveSchedule.Active" class="form-control"> *@
        <select asp-for="ActiveSchedule.Active" asp-items="@boolListe" class="form-select">
        </select>
    </div>
    <div class="mb-2">
        <label asp-for="ActiveSchedule.Roworder" class="col-form-label"></label>
        <input asp-for="ActiveSchedule.Roworder" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="ActiveSchedule.Theme" class="col-form-label"></label>
        <input asp-for="ActiveSchedule.Theme" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="ActiveSchedule.Source" class="col-form-label"></label>
        <input asp-for="ActiveSchedule.Source" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="ActiveSchedule.Time" class="col-form-label"></label>
        <input asp-for="ActiveSchedule.Time" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="ActiveSchedule.StudyNumber" class="col-form-label"></label>
        <input asp-for="ActiveSchedule.StudyNumber" class="form-control">
    </div>
    <p>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save" aria-hidden="true"></i>
            Speichern
        </button>

        <button type="submit" class="btn btn-danger" asp-page-handler="Delete">
            <i class="bi bi-trash" aria-hidden="true"></i>
            Löschen
        </button>
    </p>
</form>
<a asp-page="/Schedule" asp-route-date="@Model.ActiveSchedule.Date" class="btn btn-secondary">
    Zurück
</a>