@page "{id:long}"
@model SettingEditModel
@{
    ViewData["Title"] = "Einstellung bearbeiten";
}
<h1>@ViewData["Title"]</h1>
<hr>
<form method="post">
    <div class="mb-2">
        <label asp-for="ActiveSetting.Name" class="col-form-label"></label>
        <input asp-for="ActiveSetting.Name" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="ActiveSetting.Value" class="col-form-label"></label>
        <input asp-for="ActiveSetting.Value" class="form-control">
    </div>

    <p>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save" aria-hidden="true"></i>
            Speichern
        </button>
    </p>
</form>
<a asp-page="./Settings" class="btn btn-secondary">Zurück</a>